{% extends 'layout.view.html' %}

{% block content %}
<h2>{{ pagename }}</h2>
<a href="/feed/6">Mix of All of the Above</a><br/>
<a href="/feed/5">Front Page</a><br/>
<a href="/feed/8">Marketing</a><br/>
<a href="/feed/9">Good News :)</a><br/>
<a href="/feed/7">Entrepreneur World</a><br/>
<a href="/feed/1">Technology</a><br/>
<a href="/feed/2">Science</a><br/>
<a href="/feed/3">Environment</a><br/>
<a href="/feed/4">User Experience (UX)</a><br/>
<a href="/feed/10">Montreal</a><br/>
<a href="/feed/11">Quebec</a><br/>

{% endblock %}
