{% extends 'layout.view.html' %}

{% block content %}
<div class="table-of-contents">
<h2>{{ pagename }}</h2>
<a href="/feed/6" class="btn btn-primary">Mix of All of the Above</a><br/>
<a href="/feed/5" class="btn btn-success">Front Page</a><br/>
<a href="/feed/1" class="btn btn-info">Technology</a><br/>
<a href="/feed/2" class="btn btn-warning">Science</a><br/>
<a href="/feed/10" class="btn btn-info">Programming</a><br/>
<a href="/feed/11" class="btn btn-success">Javascript</a><br/>
<a href="/feed/3" class="btn btn-danger">Environment</a><br/>
<a href="/feed/8" class="btn btn-primary">Marketing</a><br/>
<a href="/feed/9" class="btn btn-success">Good News :)</a><br/>
</div>
{% endblock %}
